/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Fonts
   ========================================================================== */
@font-face {
	font-family: 'Conv_HOK Sans Pro Light';
	src: url('fonts/HOK Sans Pro Light.eot');
	src: local('☺'), url('fonts/HOK Sans Pro Light.woff') format('woff'), url('fonts/HOK Sans Pro Light.ttf') format('truetype'), url('fonts/HOK Sans Pro Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_HOK Sans Pro Book';
	src: url('fonts/HOK Sans Pro Book.eot');
	src: local('☺'), url('fonts/HOK Sans Pro Book.woff') format('woff'), url('fonts/HOK Sans Pro Book.ttf') format('truetype'), url('fonts/HOK Sans Pro Book.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* ==========================================================================
   Animations
   ========================================================================== */
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from { transform:rotate(0deg); }
    to { transform:rotate(360deg); }
}

@-ms-keyframes revert-spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(-360deg); }
}
@-moz-keyframes revert-spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(-360deg); }
}
@-webkit-keyframes revert-spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(-360deg); }
}
@keyframes revert-spin {
    from { transform:rotate(0deg); }
    to { transform:rotate(-360deg); }
}

/* ==========================================================================
   Main Elements
   ========================================================================== */

body{
	font-family:'Conv_HOK Sans Pro Light', Arial, sans-serif;
	font-size:14px;
	color:#000000;
} 

a{
	color:#717171;
	text-decoration:none;
}

a:hover{
	text-decoration:none;
}

footer{
	text-align:center;
	padding:20px 0;
	font-size:12px;
} 

.spinner{
	width:115px;
	height:115px;
	position:relative;
	float:left;
	line-height:115px;
	text-align:center;
	font-size:18px;
	color: #717171;
	position:relative;
}

.spinner img{
	position:absolute;
	left:29px;
	top:28px;
}

.spinner.current{
	text-decoration:underline;
}

.spinner div{
	width:115px;
	height:115px;
	position:absolute;
	top:0;
	left:0;
	display:none;
}

.spinner div.spin-outter{
	background:url('../img/spin-outter.png') no-repeat;
}

.spinner:hover div.spin-outter,
.spinner.active div.spin-outter{
	display:block;
	-moz-animation: spin 2000ms infinite linear;
	-webkit-animation: spin 2000ms infinite linear;
	-ms-animation: spin 2000ms infinite linear;
	animation: spin 2000ms infinite linear;
}

.spinner div.spin-inner{
	background:url('../img/spin-inner.png') no-repeat;
}

.spinner:hover div.spin-inner,
.spinner.active div.spin-inner{
	display:block;
	-moz-animation: revert-spin 1500ms infinite linear;
	-webkit-animation: revert-spin 1500ms infinite linear;
	-ms-animation: revert-spin 1500ms infinite linear;
	animation: revert-spin 1500ms infinite linear;
}

header{
	padding-top:30px;
	margin-top:30px;
}

header h1.logo{
	position:absolute;
	top:0px;
	left:50%;
	padding:0;
	margin:0 0 0 -53px;
	z-index:5;
}

.menu h1.logo{
	position:absolute;
	top:20px;
	left:50%;
	padding:0;
	margin:0 0 0 -53px;
	z-index:5;
}

.menu nav{
	margin-top:55px;
}

h1.logo{
	width:106px;
	height:60px;
	display:block;
}

h1.logo a{
	width:106px;
	height:50px;
	display:block;
	background:url('../img/logo.png');
}

nav{
	width:960px;
	margin:0 auto;
}

nav .inner{
	margin-left:190px;
}

.wrapper{
	max-width:1280px;
	min-width:960px;
	margin:0 auto;
	position:relative;
}

section.benefit{
	width:auto;
	height:565px;
	border-top:1px solid #9f9f9f;
	position:relative;
}

.what section.benefit,
.how section.benefit,
.where section.benefit{
	border:none;	
}

section.benefit .icon{
	width:95px;
	position:absolute;
	top:40px;
	left:40px;
}

section.benefit .icon div{
	text-align:center;
	color:#d19040;
	font-size:14px;
	height:50px;
	font-family:'Conv_HOK Sans Pro Book';
}

section.benefit h2{
	position: absolute;
	font-weight:normal;
	font-family:'Conv_HOK Sans Pro Book';
	font-size:36px;
	line-height:38px;
}

section.benefit p{
	position:absolute;
	font-size:25px;
}

section.benefit .up{
	position:absolute;
	top:5px;
	left:50%;
	margin-left:-14px;
}

section.benefit .down{
	position:absolute;
	bottom:5px;
	left:50%;
	margin-left:-14px;
}

.contain{
	width:960px;
	margin:0 auto;
	position:relative;
}

.subnav{
	background:#cecece;
	height:45px;
	border-top:1px solid #8c8c8c;
}

.subnav ul{
	margin:0px;
	padding:0px;
	width: 960px;
	margin:0 auto;
	text-align:center;
}

.subnav li{
	display:inline-block;
	height:45px;
	line-height:45px;
	padding:0 15px;
	margin:0;
	list-style:none;
	border-right:1px solid #bdbdbd;
}

.subnav li:last-child{
	border:none;
}

.subnav li:hover,
.subnav li.active{
	background:#afafaf;
}

/* ==========================================================================
   Home
   ========================================================================== */
  
#home {
	min-width:960px;
	position:relative;
}  

#home .bg{
	width:100%;
}

#home .menu{
	background:url('../img/nav-bg.png');
	min-height:150px;
	width:100%;
	position:absolute;
	top:50%;
	margin-top:-95px;
}

/* ==========================================================================
   What
   ========================================================================== */

#side-nav-container{
	width:960px;
	margin:0 auto;
}

#side-nav{
	width:34px;
	padding:0 18px;
	height:505px;
	position:fixed;
	top:160px;
	margin-left:890px;
	background:url('../img/what/side-nav.png') no-repeat left bottom;
	z-index:5;
}

#side-nav a{
	display:block;
	margin-top:19px;
	opacity:0.5;
}

#side-nav a.active{
	opacity:1;
}

section#benefit1{
	background:url('../img/what/benefit1.jpg') 50% -40px no-repeat;
	height:470px;
}

section#benefit1 h2{
	top:50px;
	left:170px;
}

section#benefit1 p{
	top:350px;
	left:170px;
}

section#benefit2{
	background:url('../img/what/benefit2.jpg') 50% 0 no-repeat;
	color:#ffffff;
}

section#benefit2 h2{
	left:60px;
	top:200px;
}

section#benefit2 p{
	left:60px;
	top:250px;
}

section#benefit3{
	background:url('../img/what/benefit3.jpg') 50% 0 no-repeat;
}

section#benefit3 h2{
	left:40px;
	top:170px;
}

section#benefit3 p{
	left:40px;
	top:260px;
}

section#benefit4{
	background:url('../img/what/benefit4.jpg') 50% 0 no-repeat;
}

section#benefit4 h2{
	left:435px;
	top:0px;
	text-align:center;
}

section#benefit4 p{
	left:450px;
	top:350px;
	text-align:right;
	font-size: 16px;
}

section#benefit5{
	background:url('../img/what/benefit5.jpg') 50% 0 no-repeat;
	color:#FFFFFF;
}

section#benefit5 .icon div{
	color:#FFFFFF;
}

section#benefit5 h2{
	left:160px;
	top:85px;
}

section#benefit5 p{
	left:60px;
	top:250px;
	font-size:18px;
}

section#benefit6{
	background:url('../img/what/benefit6.jpg') 50% 0 no-repeat;
}

section#benefit6 h2{
	left:160px;
	top:85px;
}

section#benefit6 p{
	left:60px;
	top:200px;
}

section#benefit7{
	background:url('../img/what/benefit7.jpg') 50% 0 no-repeat;
	color:#FFFFFF;
}

section#benefit7 .icon div{
	color:#FFFFFF;
}

section#benefit7 h2{
	right:80px;
	top:45px;
}

section#benefit7 p{
	right:80px;
	top:110px;
	text-align:right;
}

section#benefit8{
	background:url('../img/what/benefit8.jpg') 50% 0 no-repeat;
}

section#benefit8 h2{
	right:80px;
	top:45px;
}

section#benefit8 p{
	right:80px;
	top:110px;
	text-align:right;
}

section#benefit9{
	background:url('../img/what/benefit9.jpg') 50% 0 no-repeat;
	color:#FFFFFF;
}

section#benefit9 .icon div{
	color:#FFFFFF;
}

section#benefit9 h2{
	left:160px;
	top:85px;
}

section#benefit9 p{
	left:160px;
	top:200px;
}

/* ==========================================================================
   Who
   ========================================================================== */
  
.who section.benefit h2{
	font-size:24px;
	line-height:30px;
	font-family: 'Conv_HOK Sans Pro Light';
}

.who section.benefit .slider{
	position:absolute;
}

.who section.benefit p{
	font-size:12px;
	line-height:20px;
	position:static;
}

section#woolworths{
	background:url('../img/who/woolworths.jpg') 50% 0 no-repeat;
	height:429px;
}

section#woolworths h2{
	top:110px;
	left:50px;
}

section#woolworths .slider{
	top:200px;
	left:50px;
	width: 400px;
}

section#chiropractic{
	background:url('../img/who/chiropractic.jpg') 50% 0 no-repeat;
}

section#chiropractic h2{
	top:200px;
	left:480px;
}

section#chiropractic .slider{
	top:300px;
	left:480px;
	width:450px;
}

section#silverservice{
	background:url('../img/who/silverservice.jpg') 50% 0 no-repeat;
}

section#silverservice h2{
	top:240px;
	left:60px;
}

section#silverservice .slider{
	top:330px;
	left:60px;
	width:400px;
}

/* ==========================================================================
   Where
   ========================================================================== */
.where section.benefit h2{
	font-size:24px;
	line-height:30px;
	font-family: 'Conv_HOK Sans Pro Light';
}

.where section.benefit p{
	font-size:12px;
	line-height:20px;
}


section#avantra{
	background:url('../img/where/avantra.jpg') 50% 0 no-repeat;
	height:429px;
}

section#avantra h2{
	top:195px;
	left:415px;
}

section#avantra p{
	top:250px;
	left:415px;
}

section#uptown{
	background:url('../img/where/uptown.jpg') 50% 0 no-repeat;
	color:#FFFFFF;
}

section#uptown h2{
	top:205px;
	left:44px;
}

section#uptown p{
	top:265px;
	left:44px;
}

/* ==========================================================================
   Why
   ========================================================================== */
section.day{
	background:url('../img/why/bg.jpg') 50% 0 repeat-y;
}

section.day .weekday{
	position:absolute;
	top:35px;
	left:50%;
	margin-left:-58px;
	background:url('../img/why/day.png') 50% 50% no-repeat;
	font-size:11px;
	color:#000000;
}

section.day .line1{
	position:absolute;
	left:50%;
	margin-left:-65px;
}

section.day .line2{
	position: absolute;
	left:50%;
	margin-left:-65px;
}

section.day .line3{
	position: absolute;
	left:50%;
	margin-left:-69px;
}

section.day .line4{
	position: absolute;
	left:50%;
	margin-left:-4px;
	z-index:5;
}

section.day .photo{
	position:absolute;
	left:50%;
	margin-left:-75px;
	border:10px solid #cacaca;
}

section.day .reminder{
	position:absolute;
	left:100px;
	top:75px;
	display: none;
	width:317px;
}

section.day .reminder .line{
	position:absolute;
	width:90px;
	border-top: 1px solid #b6b6b6;
	top:140px;
	right:0px;
}

section.day .time{
	position:absolute;
	left:50%;
	margin-left:-65px;
	font-size:11px;
	width:70px;
	text-align:center;
}

/* ==========================================================================
   How
   ========================================================================== */
.how section.benefit h2{
	font-size:24px;
	line-height:30px;
	font-family: 'Conv_HOK Sans Pro Light';
}

.how section.benefit p{
	font-size:12px;
	line-height:20px;
}

section .intro {
	width:320px;
	position:absolute;
	left:120px;
	top:30px;
}

section .spinner{
	margin-top:20px;
}

section .intro h2{
	position: static;
}

section .intro p img{
	position:absolute;
	left:-30px;
	top:0px;
}

section .intro p{
	position: relative;
}

section.step1{
	background:url('../img/how/bg.jpg') 50% 0 repeat-y;
}

section.step2 h2,
section.step3 h2{
	top:40px;
	left:120px;
}

section.step3{
	background:url('../img/how/grocery/step3.jpg') 50% 0 no-repeat;
}

section #slider{
	position:absolute;
	left:120px;
	top:50px;
	width:345px;
	height:460px;
}

section #slider-description{
	position:absolute;
	left:500px;
	top:100px;
}

section #slider-description li{
	list-style:none;
	font-size:20px;
	padding:0 0 20px 30px;
	cursor: pointer;
}

section #slider-description li.activeSlide{
	background:url('../img/how/arrow.png') no-repeat 0 7px;
}

#step-container {
	width:960px;
	margin:0 auto;
	position:relative;	
}

#step{
	width:65px;
	height:65px;
	line-height:65px;
	text-align:center;
	background:url('../img/how/step.png') no-repeat;
	position:absolute;
	left:25px;
	top:437px;
	z-index:5;
}

/* ==========================================================================
   Grocery
   ========================================================================== */

section#grocery{
	background:url('../img/how/grocery/intro.jpg') 50% 0 no-repeat;
	height:387px;
}

section#grocery-step2{
	background:url('../img/how/grocery/step2.jpg') 50% 0 no-repeat;
}

/* ==========================================================================
   Dry Clean
   ========================================================================== */
  
section#dryclean{
	background:url('../img/how/dryclean/intro.jpg') 50% 0 no-repeat;
	height:387px;
}

section#dryclean-step2{
	background:url('../img/how/dryclean/step2.jpg') 50% 0 no-repeat;
}

/* ==========================================================================
   Take Away
   ========================================================================== */

section#takeaway{
	background:url('../img/how/takeaway/intro.jpg') 50% 0 no-repeat;
	height:387px;
}

section#takeaway-step2{
	background:url('../img/how/takeaway/step2.jpg') 50% 0 no-repeat;
}

/* ==========================================================================
   Domestic
   ========================================================================== */

section#domestic{
	background:url('../img/how/domestic/intro.jpg') 50% 0 no-repeat;
	height:387px;
}

section#domestic .intro{
	width:460px;
	
}

section#domestic .intro > img{
	position:absolute;
	right:0px;
	top:180px;
}

section#domestic-step2{
	background:url('../img/how/domestic/step2.jpg') 50% 0 no-repeat;
}

section#domestic-step3{
	background:url('../img/how/domestic/step3.jpg') 50% 0 no-repeat;
}

/* ==========================================================================
   CarWash
   ========================================================================== */
  
section#carwash{
	background:url('../img/how/carwash/intro.jpg') 50% 0 no-repeat;
	height:387px;
}

section#carwash h2{
	width:750px;
}

section#carwash-step2{
	background:url('../img/how/carwash/step2.jpg') 50% 0 no-repeat;
}

/* ==========================================================================
   Taxi
   ========================================================================== */

section#taxi{
	background:url('../img/how/taxi/intro.jpg') 50% 0 no-repeat;
	height:387px;
}

section#taxi-step2{
	background:url('../img/how/taxi/step2.jpg') 50% 0 no-repeat;
}

/* ==========================================================================
   Building Service
   ========================================================================== */

section#building-service{
	background:url('../img/how/building-service/intro.jpg') 50% 0 no-repeat;
	height:387px;
}

section#building-service h2{
	width:400px;
}

section#building-service-step2{
	background:url('../img/how/building-service/step2.jpg') 50% 0 no-repeat;
	height:387px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
